@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav1{
    background-color: rgb(247,246,244);
}

.van{
    background-color: white;
    border: 1px solid rgb(163, 151, 151);
    border-radius: 20px;
    width: 100px;
    height: 35px;
    background-color: rgb(247,246,244);
}

.ab{
    background-color: rgb(236,232,217);

}

.abk{
    background-color: rgb(252,253,252);
}

.mee{
    background-color: rgb(236,232,217);
}

@media screen and (max-width: 600px) {
    .imgcaro1 {display: none; }
  }

.care{
    margin-top: 80px;
    height: 400px;
    margin-left: 100px;
    color: rgb(84, 80, 80);
}



.meone{
    font-family:"dm serif display", serif;
    font-size: 60px;
    color: rgb(56,75,99);
}
.metwo {
    color: rgb(113,129,149);
}
.care form input{
    height: 90px;
}

.imgcaro1{
    height: 400px;
    margin-left: 970px;
    margin-top: -300px;
}

nav2{
    background-color: rgb(236,232,217);
   
}
marquee{
    background-color: rgb(165 213 213);
}

.btn{
    background-color: rgb(214,126,129);
    border: 1px solid rgb(214,126,129);
    border-radius: 3px;
}

.card-title{
    font-size: medium;
}

.nig{
    margin-left: 100px;
}

@media screen and (max-width: 600px) {
    .nig {margin-left:20px;}
  }
@media screen and (max-width: 600px) {
    .nig img {width:100%; }
  }

.see{
    color: rgb(215,140,160);
    text-decoration: none;
}



.say{
    background-color:rgb(236,247,253) ;
    height: 340px;
}

.ebele{
    display: flex;
}



@media screen and (max-width: 600px) {
    .say{height: 750px;}
    .ebele {  display: block;}
    #ebeleone, #ebeletwo, #ebelethree{ margin-left: -30px; margin-bottom: 40px; 
}
}

.sayhps{
    background-color: white;
    height: 150px;
    width: 350px;
    margin: 0%;
    outline: rgb(235,239,244);
    border: 2px solid rgb(235,239,244);
    border-radius: 5px;
}

.can{
    margin-bottom: 30px;
}

.counter{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .for{height: 650px;}
    .counter {  display: block;}
    #fast{ margin-top: 20px;}
    .can{ margin-bottom: 40px;}
}

.count{
    height: 150px;
    width: 250px;
    margin: 0%;
}



.amazing{
    background-color: rgb(246,247,244);
    height: 300px;
    padding-top: 100px;
}

.context{
    margin-left: 100px;
}

.crunch, .forbes, .point, .cabal, .cnn{
    width: 20%;
}

.crunch a, .forbes a, .point a, .cabal a, .cnn a{
    color: rgb(62,77,98);
}

.maze{
    display: flex;
    margin-left: 100px;
}

@media screen and (max-width: 600px) {
    .amazing{ padding:20px; height: 750px;}
    .maze{display: block;   }
    .maize{width:100%;margin-bottom: 50px;}
}


footer{
    background-color: rgb(56 74 98);
    height: 400px;
    padding-right: 50px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

.about{
    display: flex;
}

@media screen and (max-width: 600px) {
    .about{ padding:0px;  height: 750px;display: block; }
    .fellow{ margin-left: 30px; }
    .maize{width:100%;}
}

 .fellow, .col a{
    color: rgb(226,228,217);
    
}

.print, .help, .money, ul{
    list-style: none;
}

.copy{
    height: 100px;
    background-color: rgb(203,202,200);
    width: 100%;

}