@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav1{
    background-color: rgb(247,246,244);
}

.van{
    background-color: white;
    border: 1px solid rgb(163, 151, 151);
    border-radius: 20px;
    width: 100px;
    height: 35px;
    background-color: rgb(247,246,244);
}

body{
    background-color: rgb(252,253,252);
}
.ab{
    background-color: rgb(236,232,217);

}
#carouselExampleCaptions{
    background-color: rgb(236,232,217);
}


.carousel-caption{
    width:40% ;
    height: 400px;
    margin-left: -100px;
    color: rgb(84, 80, 80);
}

.carousel-caption h2{
    font-family:"dm serif display", serif;
    font-size: 60px;
    color: rgb(56,75,99);
}
.carousel-caption p{
    color: rgb(113,129,149);
}
.carousel-caption form input{
    height: 90px;
}

.imgcaro1{
    height: 400px;
    width: 500px;
    margin-top: 80px;
}

nav2{
    background-color: rgb(236,232,217);
   
}
marquee{
    background-color: rgb(165 213 213);
}

.margin{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
}

.nig{
    margin-left: 150px;
}

.see{
    color: rgb(215,140,160);
    text-decoration: none;
}

.card img{
    height:60%;
}

.btn{
    background-color: rgb(214,126,129);
    border: 1px solid rgb(214,126,129);
    border-radius: 3px;
}

.card-title{
    font-size: medium;
}

.say{
    background-color:rgb(236,247,253) ;
    height: 340px;
}

.sayhps{
    background-color: white;
    height: 150px;
    width: 22%;
    margin: 0%;
    outline: rgb(235,239,244);
    border: 2px solid rgb(235,239,244);
    border-radius: 5px;
}
.count{
    height: 150px;
    width: 22%;
    margin: 0%;
}

.amazing{
    background-color: rgb(246,247,244);
    height: 300px;
    padding-left: 100px;
    padding-top: 100px;
}

.crunch, .forbes, .point, .cabal, .cnn{
    width: 20%;
}
.crunch a, .forbes a, .point a, .cabal a, .cnn a{
    color: rgb(62,77,98);
}

footer{
    background-color: rgb(56 74 98);
    height: 400px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

 .fellow, .col a{
    color: rgb(226,228,217);
    
}

.print, .help, .money, ul{
    list-style: none;
}

.copy{
    height: 100px;
    background-color: rgb(203,202,200);
    width: 100%;

}